.App {
  text-align: center;
  padding: 2vw 40vw;
}

.coin{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 2vw;
  border: 4px solid whitesmoke;
}
.coin > div {
  padding: 8px;
}
